version: '3'
services:
  node:
    container_name: lamden-node
    hostname: lamden-node
    build:
      dockerfile: Dockerfile
      context: .
      args:
        MONGODB_REPO_KEY: https://www.mongodb.org/static/pgp/server-5.0.asc
        MONGODB_REPO: deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu focal/mongodb-org/5.0 multiverse
    environment:
      CRONTAB_ENTRY_01: "*/1 * * * * root echo howdy1 > /tmp/cron_test"
      CRONTAB_ENTRY_02: "*/2 * * * * root echo howdy2 > /tmp/cron_test"
    ports:
      - 18080:18080
    volumes:
      - mongodb:/data/db
#      - /my/lamden/key:/lamden/private_key

volumes:
  mongodb:
